<div class="card">
  <div class="card-header"><strong>Register: Player</strong></div>
  <div class="card-block">
    <div *ngIf="get().teams">
      <div *ngFor="let reg of get().teams[0] | key" class="form-group has-success">
        <label class="form-control-label">{{reg.key}}</label>
        <input type="text" class="form-control form-control-success">
        <div class="form-control-feedback">You are ready to go!</div>
      </div>
    </div>

    <div *ngIf="get().players">
      <div *ngFor="let reg of get().players[0] | key" class="form-group has-success">
        <label class="form-control-label">{{reg.key}}</label>
        <input type="text" class="form-control form-control-success">
        <div class="form-control-feedback">You are ready to go!</div>
      </div>
    </div>
  </div>
</div>

